<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- jQuery fallback -->
<script>
    if (!window.jQuery) { document.write('<script src="/assets/js/jquery.js"><\/script>'); }
</script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="/assets/js/holder.js"></script>
<script>
    var displayRequestPath = '/api/movies';

    // Gets the movies from the database and displays them
    function requestMovies(path) {
        // Set the global displayRequestPath to the path that is being requested
        displayRequestPath = path;

        // Get the movies from the requested path and update the UI
        $.ajax({
            url: displayRequestPath,
            type: 'GET',
            success: function(movies) {
                $('#movies').html('');
                for (i in movies) {
                    $('#movies').append('<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">' +
                        '<div id="' + movies[i]._id + '" class="movie-entry text-center">' +
                            '<p><b>' + movies[i].title + '</b>: ' + movies[i].rating + '</p>' +
                            '<button type="button" class="btn btn-success increment-rating" data-movie="' + movies[i]._id + '"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>' +
                            '<button type="button" class="btn btn-warning decrement-rating" data-movie="' + movies[i]._id + '"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>' +
                            '<button type="button" class="btn btn-danger remove" data-movie="' + movies[i]._id + '">Remove</button>' +
                        '</div>' +
                    '</div>');
                }
            },
            error: function(xhr, status, error) {
                alert(xhr.responseText + ' (' + xhr.status + ')');
            }
        });
    }

  $(document).on('click', '.info', function(event){

        var type = $(event.target).data('info');
        var title = "";
        var body = "";

        if(type == "IP"){
          title = "Investment Philosophy";
          body = "We believe that fiduciary research is fundamental to sound investment decisions.  Our firm gathers in-depth, first-hand information on markets and companies around the globe regularly with and long term investment view.  We look for investments that are liquid, marketable, high quality, dividend paying, and value or growth oriented. All investment strategies are based upon: Suitability An investment is appropriate in terms of an investor's willingness and ability (personal circumstances) to take on a certain level of risk. It is essential that both these criteria be met. Due Diligence Look to confirm all material facts in regards to a transaction. Discipline A market-based promotion of the transparency and disclosure of the risks associated with a business or entity. We believe that an investment decision should not be made lightly. In addition to providing extensive research, our firm goes to great lengths to determine the difference between the fundamental value of a security and its price in the marketplace. We believe in the value of diversification.  No security is worth investing more than 20% into at maximum.  Regularly no individual security will be invested into more than 5% unless the level of risk is miniscule. Our firm is able to customize your investment portfolio so that it is best suited to your financial goals.  We professionally assist investors as a fee based NJ Bureau of Securities Registered Investment Advisor.  As an RIA we utilize the cost savings of Internet trading and fixed management fees so your investments are working only for you. Our fees are more competitive in comparison to any advisors in our peer group We put the clients' needs first.  We control our destiny and you control your destiny.  The only people that can fire us are you. As independent advisors we are completely objective in our choices this allows us to give full disclosure on our recommendations.";

        } else if (type == "IS") {
          title = "Investment Strategy";
          body = "We believe that solid research is fundamental to sound investment decisions. Our firm gathers in-depth, first-hand information on markets and companies around the globe regularly with a long term investment view. We look for investments that are liquid, marketable, high quality, dividend paying, and value or growth oriented.";
        } else if (type == "FI") {
          title = "Fee Based Investing";
          body = "We are able to structure a lifetime of financial security through any type of portfolio. Our trustworthy professionals offer personalized financial solutions that will give you confidence to achieve your financial goals. As fiduciary, we act with the utmost responsibility to our clients as New Jersey Bureau of Securities Registered Investment Advisors.";
        } else if (type == "TI") {
          title = "Tailored Investing";
          body = "Identifying our clients' objectives is the key to developing investment strategies to meet their individual goals. We are confident our personalized service, education, experience, abilities and old fashioned know how surpass the level of service offered by both full service and discount brokerage firms alike. We never make an investment recommendation based upon the commission it generates! As Fee-Only advisors, we only work for YOU. No boundaries are placed between you and the most suitable recommendation.";
        } else if (type == "EP") {
          title = "Estate Planning";
          body = "At death, all that you own (home, investments, personal property, etc.) will be taxed even though you may have paid taxes on them during your lifetime.  In today's environment, many people feel that the government will be focused on reducing or eliminating Federal Estate taxes.  Although this may be true, we need to realize that the government is always changing tax laws.  One year they give back, the next year they take away.  It is how they balance their budget.   We never know what will be at the time of our death, so, I feel that it is almost always better to plan for the worst situation then not plan at all. Through the years, we have seen many changes in tax laws, but through my associations with many attorneys' specializing in Estate Tax Law, I have been able to shelter millions of dollars from the tax rolls of the Federal Government.  During our planning process, I will determine if your estate would require professional legal planning and if it does, we will prepare your Estate Plan Information before you go to a competent estate planning attorney making the process more affordable.  In addition, your bequests will be discussed, reviewed and developed along with any strategies that are in your best interest.   An explanation of the tax exclusions and the importance of properly owned life insurance are also part of the process.";
        } else if (type == "TP") {
          title = "Tax Planning";
          body = "Of all the steps in financial planning, tax planning is probably one of the most important and under planned for.  Assume for a moment that this year you have a tax bill due to the government of $5,000.00.  Once paid to the IRS, the $5,000.00 is gone forever.  You can never use any of it for any reason, but more importantly understand this, not only will you not be able to spend it for any personal reasons but you also lose the ability to invest it and earn interest or dividends on it.  In other words, you have lost a lifetime of opportunity on this money to either enjoy it today or tomorrow. If you have ever looked at a tax return there are well over 50 lines and associated forms to complete and file.  While this seems a daunting task to most, it is the essence of tax planning.  Each line dictates what you must legally include in your income and what you may also legally deduct from your income or taxes. Obvious deductions for IRA's, mortgage interest are relatively simple to understand, but we set our focus on the source of your income, how you choose to fund your investments and more. We simply want to assist you in creating a tax efficient plan that allows you to avoid not evade your tax obligations. Because we are not accountants, we must work with your present Accountant or we can recommend an experienced firm to assist us in implementing your plan and prepare your tax efficient returns.";
        } else if (type == "RP") {
          title = "Retirement Planning";
          body = "Trends indicate that many individuals are living longer and choosing to retire earlier, while others chose to work longer in their professions because they truly enjoy working.  Some of us will find our retirement years full of activities and some will not.  The factors, which affect our retirement years, are not automatically set to happen, planning makes all the difference. We have all the tools and resources to help you succeed; we will help you determine the proper type of plan as well as most suitable funding vehicles.  We assist individual clients in respect to their IRA's, Roth IRA's, and 401-K investments and retirement plan distribution and rollover strategies.  We also assist business clients' with all types of pension, profit sharing and 401-K plans. We can assist you in the creation of any of the above mentioned plans if you or your firm does not have one yet or if you do we can show you how to maximize your retirement benefits through the establishment of complimentary non-qualified plans of investment.  Through the retirement planning process we will be able to determine the best contribution amount and how you need to diversify it through various retirement vehicles to reach your retirement goals while not infringing on other short-term goals.";
        } else if (type == "EdP") {
          title = "Education Planning";
          body = "Education Planning is almost always a high priority in our client's planning goals and almost as often not planned for properly.  This is probably due to the sky rocketing costs involved with higher education, and the discouraging effect it has on us all.  It is also because we have no regular deadline to fund an education, in comparison to the due date of your credit card bill. The key to getting a handle on college planning is to start early and invest regularly when your child is young and educate yourself on all the possible sources of help.  My firm can help you in this process by not only projecting college costs, but also introducing you to the many investment strategies (Education IRA's, IRC Section 529 Plans) including tax advantaged plans to help you pay for the costs.  I will also educate you on how the financial aid process works along with its limitations, scholarship sources, and other forms of aid that may apply to your case. Please keep in mind that if educational needs are not properly planned for the cost to you could devastate your retirement and other financial plans.";
        }


        $('#infoModalLabel').html(title);
        $('#infoModalBody').html(body);
        $('#infoModal').modal();

    });

    $('#myCarousel').carousel();
    // Remove button click handler
    $(document).on('click', '.remove', function(e) {
        var movieId = $(this).data('movie');

        // Delete the movie
        $.ajax({
            url: '/api/movies/' + movieId,
            type: 'DELETE',
            success: function(movie) {
                // Re-request the movie list
                requestMovies(displayRequestPath);
            },
            error: function(xhr, status, error) {
                alert(xhr.responseText + ' (' + xhr.status + ')');
            }
        });
    });

    // Add movie form submit handler
    $('#add-movie-form').submit(function() {

        // Add the movie to the database
        $.ajax({
            url: '/api/movies/',
            type: 'POST',
            data: JSON.stringify({
                "title": $('#movie-title').val(),
                "rating": +$('#movie-rating').val()
            }),
            contentType: 'application/json',
            dataType: 'json',
            success: function(movie) {
                // Re-request the movie list and clear out the form on success
                requestMovies(displayRequestPath);

                $('#movie-title').val('');
                $('#movie-rating').val('');
            },
            error: function(xhr, status, error) {
                alert(xhr.responseText + ' (' + xhr.status + ')');
            }
        });

        return false;
    });
</script>
