<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- jQuery fallback -->
<script>
    if (!window.jQuery) { document.write('<script src="/assets/js/jquery.js"><\/script>'); }
</script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="/assets/js/holder.js"></script>
<script>
    var displayRequestPath = '/api/movies';

    // Gets the movies from the database and displays them
    function requestMovies(path) {
        // Set the global displayRequestPath to the path that is being requested
        displayRequestPath = path;

        // Get the movies from the requested path and update the UI
        $.ajax({
            url: displayRequestPath,
            type: 'GET',
            success: function(movies) {
                $('#movies').html('');
                for (i in movies) {
                    $('#movies').append('<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">' +
                        '<div id="' + movies[i]._id + '" class="movie-entry text-center">' +
                            '<p><b>' + movies[i].title + '</b>: ' + movies[i].rating + '</p>' +
                            '<button type="button" class="btn btn-success increment-rating" data-movie="' + movies[i]._id + '"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>' +
                            '<button type="button" class="btn btn-warning decrement-rating" data-movie="' + movies[i]._id + '"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>' +
                            '<button type="button" class="btn btn-danger remove" data-movie="' + movies[i]._id + '">Remove</button>' +
                        '</div>' +
                    '</div>');
                }
            },
            error: function(xhr, status, error) {
                alert(xhr.responseText + ' (' + xhr.status + ')');
            }
        });
    }


    $('#myCarousel').carousel();
    // Remove button click handler
    $(document).on('click', '.remove', function(e) {
        var movieId = $(this).data('movie');

        // Delete the movie
        $.ajax({
            url: '/api/movies/' + movieId,
            type: 'DELETE',
            success: function(movie) {
                // Re-request the movie list
                requestMovies(displayRequestPath);
            },
            error: function(xhr, status, error) {
                alert(xhr.responseText + ' (' + xhr.status + ')');
            }
        });
    });

    // Add movie form submit handler
    $('#add-movie-form').submit(function() {

        // Add the movie to the database
        $.ajax({
            url: '/api/movies/',
            type: 'POST',
            data: JSON.stringify({
                "title": $('#movie-title').val(),
                "rating": +$('#movie-rating').val()
            }),
            contentType: 'application/json',
            dataType: 'json',
            success: function(movie) {
                // Re-request the movie list and clear out the form on success
                requestMovies(displayRequestPath);

                $('#movie-title').val('');
                $('#movie-rating').val('');
            },
            error: function(xhr, status, error) {
                alert(xhr.responseText + ' (' + xhr.status + ')');
            }
        });

        return false;
    });
</script>
