<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>

</head>

<body>

    <% include ../partials/nav %>

    <section id="contact-main" class="contact-main section">
            <div class="container text-center">
                <h2 class="title">Get in touch</h2>
                <p class="intro">We'd love to hear from you. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>

                <div class="row">
                    <div class="item col-md-4 col-sm-12 col-xs-12">
                        <div class="item-inner">
                            <div class="icon">
                                <!--<i class="fa fa-envelope"></i>-->
                                <span class="pe-icon pe-7s-mail-open-file"></span>
                            </div>
                            <div class="details">
                                <h4>Email</h4>
                                <p><a href="#">invest@gvisconti.com</a></p>
                                <p><a href="#">insure@gvisconti.com​</a></p>
                            </div><!--details-->
                        </div><!--//item-inner-->
                    </div><!--//item-->
                    <div class="item col-md-4 col-sm-12 col-xs-12">
                        <div class="item-inner">
                            <div class="icon">
                                <!--<i class="fa fa-phone"></i>-->
                                <span class="pe-icon pe-7s-phone"></span>
                            </div>
                            <div class="details">
                                <h4>Call us on:</h4>
                                <p class="phone">201.659.8852</p>
                                <p class="day">Fax: 201.659.8927</p>
                            </div><!--details-->
                        </div><!--//item-inner-->
                    </div><!--//item-->
                    <div class="item col-md-4 col-sm-12 col-xs-12 last">
                            <div class="item-inner">
                            <div class="icon">
                                <!--<i class="fa fa-map-marker"></i>-->
                                <span class="pe-icon pe-7s-map-2"></span>
                            </div>
                            <div class="details">
                                <h4>Find us at:</h4>
                                <p class="address">221 River Street<br />Hoboken, NJ 07030</p>
                            </div><!--details-->
                        </div><!--//item-inner-->
                    </div><!--//item-->
                </div><!--//row-->
            </div><!--//container-->
        </section><!--//contact-->

        <footer class = "footer">
        <h2 class="text-center text-primary">What our clients said about us?</h2>
            <section id="carousel">
              	<div class="container">
              		<div class="row">
              			<div class="col-md-8 col-md-offset-2">
                              <div class="quote"><i class="fa fa-quote-left fa-4x"></i></div>
              				<div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="6000">
              				  <!-- Carousel indicators
                                <ol class="carousel-indicators">
              				    <li data-target="#fade-quote-carousel" data-slide-to="0"></li>
              				    <li data-target="#fade-quote-carousel" data-slide-to="1"></li>
              				    <li data-target="#fade-quote-carousel" data-slide-to="2" class="active"></li>
                                  <li data-target="#fade-quote-carousel" data-slide-to="3"></li>
                                  <li data-target="#fade-quote-carousel" data-slide-to="4"></li>
                                  <li data-target="#fade-quote-carousel" data-slide-to="5"></li>
              				  </ol>
              				  Carousel items -->
              				  <div class="carousel-inner">
              				    <div class="item">
                                      <div class="profile-circle" style="background-color: rgba(0,0,0,.2);"></div>
              				    	<blockquote>
              				    		<p>I am always reflecting on the positives in my life and what I am grateful for and your friendship is high on that list. I treasure you in my life and money doesn't even enter the equation. Thanks for always being there for me.</p>
              				    	</blockquote>
              				    </div>
              				    <div class="item">
                                      <div class="profile-circle" style="background-color: rgba(77,5,51,.2);"></div>
              				    	<blockquote>
              				    		<p>Thank you for all your efforts and ability… I remember every moment of it… When my Dad was about to leave how you helped him in 2012 with Sandy. AMAZING!</p>
              				    	</blockquote>
              				    </div>
              				    <div class="active item">
                                      <div class="profile-circle" style="background-color: rgba(145,169,216,.2);"></div>
              				    	<blockquote>
              				    		<p>Thank you for your talent and consideration and determination, and getting a job done in time of need. Not only myself, but most of all my father would have respected highly of you and thought highly of you.</p>
              				    	</blockquote>
              				    </div>
                                  <div class="item">
                                      <div class="profile-circle" style="background-color: rgba(77,5,51,.2);"></div>
                  			    	<blockquote>
              				    		<p>Thank you for your kindness and holding me so high in your heart. Anyone can write a check, buy a gift or make a phone call, but not many give their time like you did.</p>
              				    	</blockquote>
              				    </div>
                                  <div class="item">
                                      <div class="profile-circle" style="background-color: rgba(77,5,51,.2);"></div>
                  			    	<blockquote>
              				    		<p>The world n​eeds more people like you.</p>
              				    	</blockquote>
              				    </div>
                                  <div class="item">
                                      <div class="profile-circle" style="background-color: rgba(77,5,51,.2);"></div>
                  			    	<blockquote>
              				    		<p>Thank you for all your help and expertise throughout the year.</p>
              				    	</blockquote>
              				    </div>
              				  </div>
              				</div>
              			</div>
              		</div>
              	</div>
              </section>
        </footer>


    <% include ../partials/scripts %>
</body>

</html>
